body {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex; /*This is the flex container*/
  justify-content: center;
  align-items: center;
}

.board {
  aspect-ratio: 1/1;
  height: 70vh;
  border: 1px solid black;
  background-color: rgb(231, 214, 145);
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 33%; /*It has 33% of its parent*/
  flex-direction: row; /*Direction in which elements inside of this are ordered (left to right)*/
  
}

.square {
  flex: 33%;
  height: 100%;
  border: 1px solid black;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 8vh;
  color: black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.square:active{ /*When we click on it*/
   background-color: rgb(245, 218, 159);
}